body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  box-sizing: border-box;

}

* {
  margin: 0;
  padding: 0;
  outline: 0;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.109);
  background-color: #F5F5F5;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0.44, rgb(122, 153, 217)),
      color-stop(0.72, rgb(73, 125, 189)),
      color-stop(0.86, rgb(28, 58, 148)));
  transition: all .2s linear;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-image: -webkit-gradient(linear,
      right bottom,
      right top,
      color-stop(0.86, rgb(28, 58, 148))),
    color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.44, rgb(122, 153, 217));

}